{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div id="wrapper">

    <!-- Header with image -->
    <header class="bgimg header" id="home">

        <div>
            <span class="text-white" style="font-size:50px">Sporting<br>Goods</span>
        </div>

    </header>
    <div class='flash'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
            {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </div>

    <div class="container">
        <section class="additem_button">
            <a href="{{url_for('addNewCatalogItem')}}" class="btn">

                <span class="glyphicon maki-tennis" aria-hidden="true"></span> Add Sport Item

            </a>
        </section>
        <section class=" cat-list">
            <h2 class="cat__title">Categories</h2>
            <ul>
                {% for catalog in catalogs %}

                <li class="cat-list__item">

                    <a href="{{url_for('showCatalogItems', catalog_id = catalog.id)}}">
                        {{catalog.name}}
                    </a>

                </li>


                {% endfor %}

            </ul>
        </section>
        <section class="cat-list">
            <h2 class="cat__title">Latest Items</h2>
            <ul>
                {% for item in items %}

                <li class="cat-list__item">

                    <a href="{{url_for('showCatalogItemDescription', catalog_id = item.catalog.id, item_id = item.id)}}">
                        {{item.name}} ({{item.catalog.name}})
                    </a>

                </li>


                {% endfor %}

            </ul>
        </section>


        <div class="clearer"></div>
    </div>

</div>
{% endblock %}