{% extends "main.html" %}
{% block content %}
{% include "edit_header.html" %}


<div id="wrapper">


    <!-- Header with image -->
    <header class="bgimg header" id="home">

        <div>
            <span class="text-white" style="font-size:50px">Sporting<br>Goods</span>
        </div>

    </header>
    <div class="column">
        <article class="description">
            <h2>{{item.name}}</h2>
            <p>{{item.description}}</p>
        </article>
        
            <section class="additem_button">

                <a href="{{url_for('editCatalogItem',item_id = item.id)}}" class="btn">
                    <span class="glyphicon typicons-edit" aria-hidden="true"></span> Edit
                </a>

                &nbsp;
                <a href="{{url_for('deleteCatalogItem',item_id = item.id)}}" class="btn">
                    <span class="glyphicon typicons-delete" aria-hidden="true"></span> Delete
                </a>
            </section>
        
    </div>

    {% endblock %}